body{background-color: rgba(198, 219, 233, 0.534);}
#mypage{font-size:xx-large;font-weight:bolder;color: rgba(10, 1, 19, 0.932);text-align:center;}
.me{widows: 25px;;height:40%;}
.myname{font-size: 5mm;font-weight: normal;color: darkblue;}
#cv{font-size: 100px;font-weight: bold;color: darkred;}

