<doctype html>
<httml>
<head>
<meta charset ="utf-8">
<title >minha página pessoal</title>
</head>
<body> 
    <img src="C:\eu_1" alt="Foto" srcset=""><head><section><h1>debritto,Marinoni</h1></head><h2>Curriculo Vitae Profissional</h2></section>
    <article><h3>
        <p>

        Apresentação profisional
        
        Possibilidades de atuação	Fernandes de Britto, Marinoni B.,Esp – Físico médico 
        Natural do  Rio de Janeiro  - Brasil
        
        Título de especialista em Física-Médica – Radioterapia / ABFM M.S.  No. RT-109/867.
        
        Certificação de Qualificação em Radioproteção - CNEN FT-0095.
        
        Contatos : 
        
        Cel. fone :   + 55 21 973477093
        what´s app messenger : +55 21 073477093  
        
        Correio eletrônico :
        marinonifernandes@gmail.com
        marinonibritto@hotmail.com
        
        Objetivo :
    
        Postular uma posiçao no cargo  de  Desenvolvedor de Web. 
        
    
        Habiliddades e Conhecimento técnico
    
    
            Experiencia no magisterio com apresentação de assuntos em sala de aula com orientação pedagógica e iniciativas pratico-experimentais com utilização recursos de instalados em clínicas( TC, RMN, RX )  como  laboratórios de experimentação prática.
        
        Planejamento, Implantaçao  e utilização m classes de laboratório de prática de Raios X Diagnostico, no curso de tecnolologo de Raios X da  Instituição Facimed – Cacoal/RO.
        
        Experiência de Responsabilidade técnica e orientação pedagogiica em classes de formação e atualização técnica de conhecimentos específicos da área de  Radioterapia, Imageamento em Radioterapia e Proteção Radiológica  durante 22 anos , conforme norma especifica da CNEN.
        
        Responsável, como membro do comitê de Ètica e pesquisa – CEP, do Hospital Estadual de Rio Branco – Acre, Brasil por cerca de 20 pareceres de aceitação e/ou adequação aos normativos éticos regulamentação científica, a trabalhos de graduação e pós-graduação da Universidade de Acre em conjunto com o Hospital Estadual do Acre.
        
        Professor de física de nível médio em escola particular  Sociedade Educacional PIO XI – Niteroi 
        
    
        Alto grau de entendimento e relacionamento profissional multi-disciplinar na area da física médica,  perfil colaborativo, inovador e de atendimento a qualidade e eficiencia na utilizaçao de recursos para prestação de serviços, na área da física médica aplicada a oncologia/Radioterapia.
        
        Dominio das linguagens técnicas da engenharia aplicada a medicina e da linguagem formal médica, facilitando o ensino, entendimento,  relacionamento  e a construção multi-disciplinar de soluções técnicas, aos problemas apresentados. 
        
        Alto padrão ético de atendimento e relacionamento, aplicado aos profissionais das áreas multi-disciplinares em conjunto e no atendimento e  comunicação direta a pacientes oncológicos, e acompanhantes e no relacionamento com  órgãos de fiscalização ( CNEN/IRD/M.S. ) e empresas privadas de prestação de serviço em radioterapia ( VARIAN/RADION/Elekcta/Nucletron(antiga) ).
        
        
        Dominio e conhecimento dos mecanismos e normas de gerenciamento do atendimento  de alta complexidade em oncologia do M.S. – SUS,  aprovado em prova específica de normativos gerenciais do M.S., em concurso nacional para estado do Acre/RB. 
        
        Dominio da lingua inglesa nível avançado  - experiencia em leitura de manuais técnicos de equipamentos, artigos científicos sobre Radioterapia e confecção de documentos e relatorios na lingua inglesa.
        
        Espanhol - basico
        Frances –  basico
        
        Dominio de formação :  - Bacharel em Física - 
                                                   -  Física médica – Radioterapia.
                                                   - Domínio da teoria/tecnica de formação de imagens anatomicas ( CT/RMN/PetScan ) e  imageamento e interpretação  de imagens anatômicas.
                                                   - Dominio da teoria e linguagem técnica da engenharia aplicada  dos equipamentos médicos ( Hardware e Software ).
                                                   - Mestrado : Física Teórica – UFCG  ; Disciplinas completas.
                                                  
        Escolas de formação e titulação :
        
        Universidade Federal Fluminense - Bacharelado em Física  ( 1993 ). 
        
        Residência em Física -Médica - modalidade  :    Radioterapia Instituto Nacional do Câncer - Inca / RJ – 1996.
        
        Resumo Profissional e Cronológico	Experiencia na área do magistério , FACiMED- Cacoal, por 3 anos, sendo responsável pela idealização e implantação de um laboratório de práticas de técnicas Radiológicas naquela  instituição para o curso de Tecnólogo em Radiologia. 
        
        Membro do comitê de Ètica e pesquisa – CEP, do Hospital Estadual de Rio Branco – Acre, Brasil – responsável por cerca de 20 pareceres de adequação a normativa ética de pesquisa a trabalhos de graduação e pós-graduação da Universidade de Acre em conjunto com o Hospital Estadual do Acre.
        
        Experiência em Física médica, na área de Radioterapia  com responsabilidade técnica de Clínica de Radioterapia junto a CNEN, e MS durante 20  anos. 
        
        Responsável técnico pela construção de um serviço de braquiterapia de alta taxa de dose ( HDR ) e implantação de 3 serviços de Teleterapia com Co-60- Cascavel-PR,  Porto Velho-RO e Rio Branco-AC - BRASIL. implantação de um acelerador linear ( FAP-Campina Grande /PB)  importação de 15 fontes de Ir-192 de alta taxa de dose, importação  de 1 fonte de Co-60.
        
        Planejamento, dimensionamento com cálculo de blindagem, e implementação de um serviço de Braquiterapia de Alta taxa de dose, Porto Velho/ RO.
        
        2019 – 
        Atuando  como prestador e serviço na área de física medica, Radioterapia. 
        
        2010 - 2017
        
        Físico médico, e supervisor de radioproteção do Hospital do Câncer de Rio Branco – AC, desde 2010, responsável técnico do serviço junto a CNEN e M.S., responsável pela importação de 4 fontes de Ir-192 para HDR. 
        
        2006/Set - 2007/Dez 
                                
        Fisico responsável pela Proteção Radiolõgica da Fundação Hospital Estadual do Acre - Acre / Brasil - UNACON ( Unidade de Atendimento de Alta Complexidade em Oncologia ), Responsável técnico pelo Controle de Qualidade de Equipamentos e Dosimetria ( Protocolo - IAEA ),  Comissionamento dos  Sistemas Computadorizados de Planejamento,Theraplan Plus e  Plato BPS v14.0 da Nucletron. 
         
        Responsável pela  importação e  exportação de  fontes  Radioactivas  sob regulamentos da  Comissão Nacional de Energia  Nuclear ( CNEN / Brasil ).
        
        Supervisão da montagem do aparelho de Teleterapia e aparelho de braquiterapia -  HDR, Nucletron e Instalação elétrica ( Quadros e  switches de segurança).
        
         Supervisão , medição e  controle dos níveis de Radiação durante instalação de fonte de Co-60.
        Supervisão, instalação, comissionamento e gerenciamento de sistema computadorizado de planejamento,  Theraplan Plus em plataforma  Windows e sistema  de planejamento nucletron – Plato BPS em plataforma  Unix.   Contactos : http://www.fundhacre.ac.gov.br.
        1997/Jul - 2006/Ago      
        
        Físico responsável pela Proteção Radiológica do Instituto de Oncologia e Radioterapia São Pellegrino, RO - Brasil, Responsável técnico pelo Controle de Qualidade de Equipamentos e Dosimetria ( Protocolo - IAEA ), instalação e comissionamento de Sistema Computadorizado de planejamento Plato BPS v14.0 da Nucletron.  
        
        Responsável pela  importação e  exportação de  fontes  Radioativas  sob regulamentos da  Comissão Nacional de Energia  Nuclear ( CNEN / Brasil ).
                                                           
        Responsável pelo projeto de Radioproteção, planejamento de planta de salas, supervisão de construção e instalação de um serviço de braquiterapia de alta taxa de dose – HDR, equipamentos de segurança, importação de fontes, monitoração e supervisão de fontes e controle de níveis de Radiação, planejamento de salas de Raios-X diagnósticos e gerenciamentos de rejeitos.
        
        Instituição  Premiada com a Certificação de Controle de Qualidade em  02/02/2006 pelo PQRT/Inca/MS – Brasil - http://www.inca.gov.br/pqrt/
        Contactos : http://www.saopellegrino.com.br
        
        Outras atividades :
        
        2003-2005
        Professor do Curso de Tecnólogo em Radiologia da  FACIMED - Cacoal/RO.
          
        2001 -2006
        Diretor – técnico da Fismed ltda – empresa de prestação de serviços na área de física-médica e Radioterapia, sediada em RO/PV. 
        
        2006
        Membro do comitê de Ètica e pesquisa – CEP, do Hospital Estadual de Rio Branco – Acre, Brasil – responsável por cerca de 12 pareceres de adequação a normativa ética de pesquisa a trabalhos de graduação e pós-graduação da Universidade de Acre em conjunto com o Hospital Estadual do Acre.
        
         
        Publicações e apresentações	Static,Michelson based, Fourier Spectrometer.
        J. E. Ure, M.B.F. de Britto e A.A. Tagliaferri
        Revista de Física aplicada e instrumentação, vol 7 no 1 				march, 1992.
        
        Plano de Radioproteção do Serviço de Radioterapia, modalidade TeleCobaltoterapia, da Clínica de Radioterapia do Hospital Regional de Cascavel - PR,  apresentado a CNEN  -  1996. ( Aprovado )
        
        Relatório de adequação e aceite da instalação do aparelho de TeleCobaltoterapia, Eldorado – 78, da Clínica de Radioterapia do Hospital Regional de Cascavel - PR,  apresentado a CNEN  -  1996. ( Aprovado )
        
        Plano de Controle de qualidade do Serviço de Radioterapia, modalidade TeleCobaltoterapia, do serviço de Oncologia e Radioterapia São Pellegrino, Porto velho - RO, apresentado a CNEN - 1998.          ( Aprovado )
        
        Plano de Radioproteção do Serviço de Radioterapia, modalidade TeleCobaltoterapia, do serviço de Oncologia e Radioterapia São Pellegrino, Porto velho - RO, apresentado a CNEN - 1998. ( Aprovado )
        
        Plano de Treinamento e Atualização Técnica e Teórica para técnicos de Radioterapia, do serviço de Oncologia e Radioterapia São Pellegrino, Porto velho - RO, apresentado a CNEN - 1998. ( Aprovado )
        
        Projeto  de  Radioproteção e Blindagem para instalação do Serviço de Braquiterapia de Alta taxa de dose, do serviço de Radioterapia da Clínica de Oncologia e Radioterapia São Pellegrino, Porto Velho – RO, apresentado a CNEN - 1999. ( Aprovado )
            
        Plano de transporte e pedido de importação de fonte de Ir192    , para o Serviço de Braquiterapia de Alta taxa de dose, do serviço de Radioterapia da Clínica de Oncologia e Radioterapia São Pellegrino, Porto Velho – RO, apresentado a CNEN - 2000. ( Aprovado )*
        
        Plano de transporte, pedido de importação de fonte de Co60   , e Requisição de transferência de fonte de Co60 , para o Serviço de Teleterapia, do serviço de Radioterapia da Clínica de Oncologia e Radioterapia São Pellegrino, Porto Velho – RO, apresentado a CNEN - 2004. ( Aprovado ) **
        
        Plano de Radioproteção do Serviço de Radioterapia, modalidade TeleCobaltoterapia e Braquiterapia de Alta taxa de dose,  do serviço de  Radioterapia da Fundação Hospital Estadual do Acre, Rio Branco – AC,  apresentado a CNEN - 2007. ( Aprovado 
        
        Plano de Treinamento e Atualização Técnica e Teórica para técnicos de Radioterapia, do serviço de  Radioterapia da Fundação Hospital Estadual do Acre, Rio Branco – AC, apresentado a CNEN - 2007. ( Aprovado )
    
        
            </p> </h3></article>

<footer>
    <ul>  Contatos : <li><a href="mailto:marionibritto@hotmail.com" target="_blank"> marionibritto@hotmail.com </a></li>
    <li><a href="mailto:marinonifernandes@gmail.com" target="_blank"> marinonifernandes@gmail.com </a></li> 
    </ul>
    </footer>
</body>
</html>

